a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
	font-size: 16px;
}

body {
	font-family: "Arial";
	line-height: 1;
    width: 100%;
    margin: 0 auto;
}

ol,
ul {
	list-style: none;
}

li {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #000;
}

* {
	box-sizing: border-box;
}

/* .product-container{width:300px; border:1px solid #aaa; margin:10px; display:inline-block;}
.product-container img{width:100%; height:auto;} */
/* .row{width:946px;} */

/* .col1{float:left;}
.col2{margin:10px auto;}
.col3{float:right;} */

#plp-page h1.title {
	font-size: 20px;
	/* height: 36px; */
	line-height: 36px;
    margin: 0px;
	/* padding: 10px 0px; */
}

#plp-page .tagline {
	font-size: 18px;
}

#plp-page .product-container {
    transform: scale(1);
    transition: all 380ms ease-in-out;
}


#plp-page .product-container a {
    text-decoration: none;
}

#plp-page .product-container .thumbnail {
	padding: 1px;
	border-radius: 0px;
    overflow: hidden;
    margin-bottom: 20px;
}

#plp-page .product-container a:hover .caption *{
    color: #0096ff;
}

#plp-page .icon-container {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 5;
}

#plp-page .thumbnail:hover .remove-icon {
    color: #fff;
}

#plp-page .icon-container .remove-icon {
	color: #000;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#plp-page .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 10%;
    color: #fff;
    height: calc(100% - 20px);
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    /* left: 15; */
    opacity: 0;
    z-index: 3;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
}

#plp-page .thumbnail:hover .overlay {
    opacity: 1;
}
