#plp-page h1.title {
    margin-top: 36px;
	font-size: 20px;
}

#plp-page .tagline {
	font-size: 18px;
}

#plp-page .product-container {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 380ms ease-in-out;
    -o-transition: all 380ms ease-in-out;
    transition: all 380ms ease-in-out;
}

#plp-page .product-container a {
    text-decoration: none;
}

#plp-page .product-container .thumbnail {
	padding: 1px;
	border-radius: 0px;
    overflow: hidden;
}

#plp-page .product-container .caption *{
    color: #0096ff;
}

#plp-page .caption p {
    font-size: 16px;
}

#plp-page .thumbnail:hover .remove-icon {
    opacity: 1;
}

#plp-page .thumbnail .remove-icon {
    opacity: 0;
    color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 5;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#plp-page .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5% 10%;
    color: #fff;
    height: calc(100% - 20px);
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 3;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
}

#plp-page .thumbnail:hover .overlay {
    opacity: 1;
}

/* === loading icon === */
.loader-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 250px;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
/* === loading icon end === */